<div class="small-8 small-centered columns">
  <br \><br \>
  <div class="card">
    <div class="content">
    <div id="container-pie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
</div>
  <br \><br \>
  <div class="card">
    <div class="content">
    <div id="container-bar" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
  <div>

</div>
