<div class="small-12 columns">
  <br \><br \><br \>
  <div class="row">
    <div id="container-pie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>
  <br \><br \><br \>
  <div class="row">
    <div id="container-bar" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

</div>
