
<div class="small-12 columns">
  <div class="row">
    <div id="container-pie" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  </div>

  <div class="row">
    <div id="blah" style="min-width: 310px; height: 400px; margin: 0 auto"></div>  </div>
</div>
