<div class="row">
  <div class="medium-10 small-centered columns">
    <br \>
    <div class="text-center">
      <h1>Edit Solution</h1>
    </div>
    <br \>
    <%= render 'form' %>
  </div>
</div>
